/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #000000FF;
    background-alt: #282A36FF;
    foreground:     #afbfbfFF;
    selected:       #FF9900FF;
    active:         #50FA7BFF;
    urgent:         #FF5555FF;
}
